


<footer style="overflow: hidden">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-3 p-4">
              <img src="images/logo.png" style="height: 40px" class="wow slideInRight" data-wow-duration="1s" />
              <p class="mt-3 wow slideInRight" data-wow-duration="1s">Our platform makes the Financial/Digitsl Asset Markets more accessible. You can buy, use, store cryptocurrency, stock, monitor market prices/news and even earn through our mining process.</p>
			      </div>
            <div class="col-lg-3 p-4">
                <h3 class="wow slideInRight" data-wow-duration="1s">QUICK LINKS</h3>
                <ul>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="index-2.html">Home</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="about.html">About Us</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="faqs.html">FAQS</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="terms.html">Terms and conditions</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="policy.html">Privacy Policy</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 p-4">
                <h3 class="wow slideInRight" data-wow-duration="1s">HELP & SUPPORT</h3>
                <ul>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="https://cointelegraph.com/bitcoin-for-beginners/what-are-cryptocurrencies" target="_blank">What is bitcoin?</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="https://www.investopedia.com/tech/how-to-buy-bitcoin/" target="_blank">How to buy bitcoin</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="register.html">Register</a></li>
                    <li class="wow slideInRight" data-wow-duration="1s"><a href="login.html">Login</a></li> 
                </ul>
            </div>
            <div class="col-lg-3 p-4">
              <h3 class="wow slideInRight" data-wow-duration="1s">CONTACT US</h3>
              <ul class="mb-3">
                  <li class="wow slideInRight" data-wow-duration="1s">UNITED KINGDOM</li>
              </ul>
              <a href="mailto://vitacoininvestment@gmail.com"><h3>support@vitacoininvestments.com</h3></a>
              <ul class="mb-4">
                <li class="wow slideInRight" data-wow-duration="1s">Mon - Sat, 8am - 5pm</li>
              </ul>
              <img src="images/5b55bb652af1a.png" style="height: 26px" />
              <img src="images/1532345051h7.png" style="height: 26px" />
              <img src="images/1532345115h7.png" style="height: 26px" />
            </div>
        </div>
    </div>
    <div style="min-height:250px; width:100%; background-color:white;">
        <div style="height:40px;"></div>
        <div class="awardd">
        <div class="container">
            <div class="row justify-content-center">
               
                <div class="col-4 d-flex">
                    <div class="my-auto">
                        <center>
                            <img src="images/aw4.png" class="img-fluid" alt="">
                        </center>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="my-auto">
                        <center>
                            <img src="images/aw1.png" class="img-fluid" alt="">
                        </center>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="my-auto">
                        <center>
                            <img src="images/aw2.png" class="img-fluid" alt="">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bg-dark p-3" style="padding-bottom:40px !important;">
      <div class="container wow slideInRight" data-wow-duration="1s">
        <p class="center">Copyright © 2021 vitacoininvestments, All Rights Reserved</p>
      </div>
    </div>
</footer>

<script>
new WOW().init();
</script>
<script>
  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','../widgets.bitcoin.com/widget.js','btcwdgt');
</script>

<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">

function readCookie(name) {
    var c = document.cookie.split('; '),
    cookies = {}, i, C;

    for (i = c.length - 1; i >= 0; i--) {
        C = c[i].split('=');
        cookies[C[0]] = C[1];
     }

     return cookies[name];
}
var lang = readCookie('googtrans').slice(-2);
$('#language option[value="'+lang+'"]').prop('selected', true);

function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}

function changeLanguageByButtonClick() {
  var language = document.getElementById("language").value;
  var selectField = document.querySelector("#google_translate_element select");
  for(var i=0; i < selectField.children.length; i++){
    var option = selectField.children[i];
    // find desired langauge and change the former language of the hidden selection-field 
    if(option.value==language){
       selectField.selectedIndex = i;
       // trigger change event afterwards to make google-lib translate this side
       selectField.dispatchEvent(new Event('change'));
       break;
    }
  }
}

function changeLanguageByButtonClick2() {
  var language = document.getElementById("language2").value;
  var selectField = document.querySelector("#google_translate_element select");
  for(var i=0; i < selectField.children.length; i++){
    var option = selectField.children[i];
    // find desired langauge and change the former language of the hidden selection-field 
    if(option.value==language){
       selectField.selectedIndex = i;
       // trigger change event afterwards to make google-lib translate this side
       selectField.dispatchEvent(new Event('change'));
       break;
    }
  }
}
</script>

<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>







<!-- conversational widget -->
<!-- <script type="text/javascript">
  (
      function () 
      {
          _360_widget_id = `_${Math.random().toString(36).slice(2)}`;
          var _360_options = {_360_telegram : "maxiztrades_exchange",_360_order : "telegram",_360_greeting : "no",_360_btn_size : "normal",_360_display_btn : "everywhere",_360_chat_bubble : "1",_360_greeting_message_color : "#008000", _360_randomID: _360_widget_id};
          var _360_proto = document.location.protocol, _360_host = "js.widget.get.chat", _360_url = _360_proto + "//" + _360_host;
          var _360_s = document.createElement('script'); _360_s.type = 'text/javascript'; 
          _360_s.async = true; 
          _360_s.src = _360_url + '/360.js';
          _360_s.onload = function () { _360Widget.init(_360_host, _360_proto, _360_options); };
          var _360_x = document.getElementsByTagName('script')[0]; _360_x.parentNode.insertBefore(_360_s, _360_x);
      }
  )();
</script> -->
<!-- /conversational widget -->


<script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>

</body>

<!-- Mirrored from globalflextyips.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Mar 2024 21:15:27 GMT -->
</html>
