<footer class="main-footer text-center">
    <strong style="color: white;">  Copyrights 2024  @ <a href="#">vitacoininvestments </a>. All Rights Reserved</strong> 
    
  </footer>



  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="assets0/notify.js"></script>
  <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/theme.min.js"></script>
<script src="plugins/js/datatables.min.js"></script>
<script src="plugins/js/summernote-bs4.min.js"></script>
<script src="plugins/js/croppie.min.js"></script>
 <script src="plugins/js/loadingoverlay.min.js"></script>
<script src="plugins/js/bootstrap4-toggle.min.js"></script>
<script src="plugins/js/bootstrap-datepicker.min.js"></script>

    
  </body>
</html>
 


